.wrap {
    width: 734px;
    margin: 3rem auto;
}
.title {
    padding: 1rem;
    margin: 0;
    background: #9BE4E4;
    border-radius: 60px 60px 0px 0px;
    color: #FFFFFF;
    text-shadow: 0px 4px 25px rgba(0, 0, 0, 0.75);
    font-weight: 600;
    font-size: 30px;
    line-height: 45px;
}

.title p {
    margin-top: -2rem;
    font-size: 15px;
}

.filter {
    padding: 10px;
    display: flex;
    background: #C3EFEF;
    justify-content: space-between;
    // align-items: center;
}
.filter-button {
    
}
.filter-search input{
    padding: 0 10px;
    background: #FFFFFF;
    border-radius: 60px;
    width: 339.47px;
    height: 39.4px;
    border: none;
}