.wrapper {
  width: 360px;
  padding: 10px;

  box-shadow: inset -20px 0px 18px -30px #000000;
}
@media only screen and (max-width: 1200px) {
  .wrapper {
    width: fit-content;
    padding: 10px 15px 10px 10px;
    box-shadow: none;
    border-right: 1px solid #d9d9d9;
  }
}
