.recommended-jobs {
    margin-right: 5%;
    width: 21.5%;
}

@media only screen and (max-width: 1080px) {
    .recommended-jobs {
        margin-right: 2%;
        width: 24.5%;
    }
}

@media only screen and (max-width: 1000px) {
    .recommended-jobs {
        display: none;
    }
}