.title {
    margin: 10rem auto;
    margin-bottom: 5rem;
    text-align: center;
    color: #235B5C;
    font-weight: 700;
    font-size: 40px;
}

.title span {
    color: #FFCC00;

}
.list {
    display: flex;
    justify-content: center;
}