.card {
    padding: 35px;
    padding-top: 20px;
    width: 892.04px;
    height: 150px;
    margin: 40px auto;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-shadow: 0px 4px 35px #56A5EC;
    border-radius: 40px;

}

.company {
    display: flex;

    .company-info {
        display: flex;

        img {
            width: 35px;
            height: 35px;
        }
    }
    .edit {
        width: 25px;
        height: 25px;
        //padding-left: 50px;
    }
    .delete {
        width: 25px;
        height: 25px;
        //margin-left: 10px;
    }
}

.info h3 {
    margin-left: 40px;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: #000000;
}

.info p {
    margin-left: 40px;
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.6);
}

.skill {
    margin-top: 10px;
    margin-left: -15px;
}

.skill-items {
    display: flex;
}

.item {
    padding: 10px 25px;
    margin-right: 20px;
    background: #7BEADF;
    border-radius: 60px;
    color: rgba(0, 0, 0, 1);
    font-weight: 600;
    font-size: 13px;
}

