.makeup {
    margin: 2rem 2rem;
}
.job {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    .edit {
        width: 25px;
        height: 25px;
    }
    .delete {
        width: 25px;
        height: 25px;
        border: none;
        background-color: rgba(0, 0, 0, 0);
    }
}
.info{
    display: flex;
    //justify-content: space-between;
    width: 90%;
}
.info .logo img{
    margin-left: 15px;
    width: 40px;
    height: 40px;
    margin-right: 40px;
}

.info .detail {
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: #000000;
}

.info .introduction {
    color: rgba(0, 0, 0, 0.6);
}

.skill {
    margin-top: 10px;
    margin-left: -15px;
}

.skill-items {
    display: flex;
    margin: 0;
}

.item {
    padding: 7px 12px;
    margin-right: 10px;
    background: #7BEADF;
    border-radius: 60px;
    color: rgba(0, 0, 0, 1);
    font-weight: 600;
    font-size: 13px;
}