.bar {
    margin: 0;
    padding: 0;
    width: 100%;
}
.filter {
    padding: 10px 20px;
    padding-right: 50px;
    background-color: #9BE4E4;;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filter-button {
    margin-right: 20px;

    button {
        background: none;
        border: none;
    }
}

.filter-search {
    width: 1300px;
    li:hover {
        background-color: #E6E6E6;
        cursor: pointer;
    }
}

.filter-search input{
    padding: 0 20px;
    height: 40px;;
    border: none;
    background: #FFFFFF;
    border-radius: 60px;
    width: 100%;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 600;
    font-size: 15px;
}
.filter-search input ::placeholder {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.5);
}

.detail {
    display: flex;
    justify-content: space-between;
    // align-items: center;
    background: rgba(175, 233, 233, 0.8);
    border-radius: 0px 0px 60px 60px;
    padding: 40px;
    padding-left: 60px;
}

.detail-left {
    width: 40%;
}

.detail-left div {
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    // align-items: center;
}

.detail-left div p {
    margin-top: 8px;
    color: #000000;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
}

.detail-left div input {
    padding: 0 10px;
    background: #FFFFFF;
    border-radius: 50px;
    height: 40px;
    width: 60%;
    border: none;
}

.detail-left .salary input{
    width: 20%;
}

.detail-right {
    margin-left: 4rem;
    flex: 1;
}

.detail-right div {

}

.detail-right .title p {
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
}

.detail-right .btn {
    margin-bottom: 10px;
}

.detail-right .btn button {
    margin-left: 10px;
    height: 40px;
    width: 115.38px;
    background: #FFFFFF;
    border-radius: 50px;
    border: none;
    margin-bottom: 5px;
}

.apply {
    float: right;
    margin-right: 6rem;
    margin-top: -4.5rem;
    button {
        margin-left: 10px;
        height: 40px;
        width: 115.38px;
        background: rgba(0, 206, 209, 0.9);
        border-radius: 50px;
        border: none;
        font-weight: 700;
        font-size: 17px;
        line-height: 30px;
        color: white;
    }
}