.warp {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    margin-top: 8rem;
}

.warp h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
}

.warp h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
}

.warp h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
}

.warp h4 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
}

.warp h5 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
}
    



