.background {
  z-index: -1;
  position: absolute;
  mix-blend-mode: normal;
  backdrop-filter: blur(2px);
  border-radius: 50%;
}

.background-first {
  width: 1200px;
  height: 1200px;
  left: -373px;
  top: -386px;
}

.background-second {
  width: 700px;
  height: 700px;
  left: 265px;
  top: 864px;
}

.background-third {
  width: 900px;
  height: 900px;
}

.background-fourth {
  display: none;
  width: 1000px;
  height: 1000px;
}

@media only screen and (max-width: 1000px) {
  .background-first {
    width: 1000px;
    height: 1000px;
    left: -373px;
    top: -386px;
  }

  .background-second {
    width: 700px;
    height: 700px;
    left: 265px;
    top: 864px;
  }

  .background-third {
    width: 900px;
    height: 900px;
  }

  .background-fourth {
    display: none;
    width: 1000px;
    height: 1000px;
    left: 540px;
  }
}
