.header {
  top: 0;
  padding: 0 0px;
  background: #6CE0E0;
  position: sticky;
  z-index: 100;
  margin: 0 -100%;

  .sugestion {
    li {
      width: 100%;
    }

    li:hover {
      background-color: #E6E6E6;
      cursor: pointer;
    }
  }

  .nav {
    max-width: 1350px;
    margin: 0 auto;
    padding: 0;
    background: #6CE0E0 !important;
    width: 100%;
    
    .container {
      margin: 0 auto;
      width: 100%;
      font-size: 16px;
      color: rgba(0, 0, 0, 1);
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 600;
      background: #6CE0E0;
      padding: 10px;
      display: flex;
      justify-content: space-around;
      align-items: center;

      .test{
        position: fixed;
        border: solid thin white;
        border-radius: 7px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        background-color: #FFFFFF;
        width: 200px;
        top: 50px;
        right: 20px;
        padding: 5px 10px;

        .logout {
          display: flex;
          justify-content: left;
          align-items: center;
          margin: 3px 0;
          a {
            margin-left: 14px;
            color: black;
            font-weight: 500;
            font-size: 14px;
          }
        }
      }
      
      .img {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        background-color: white;
      }
      
      .link {
        
        ul{
          margin: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          // border: solid;
          li {
            margin: 0 10px;
          }
          .btn-logout {
            padding: 10px;
            background: #FFFFFF;
            box-shadow: 0px 4px 30px rgba(255, 255, 255, 0.5);
            border-radius: 10px;
            font-weight: 600;
            font-size: 15px;
            color: #48CCCD;
          }
        }
        form {
          margin-right: 3rem;
          width: 40%;
        }
        form input {
          font-family: 'Poppins';
          font-style: normal;
          font-weight: 600;
          font-size: 15px;
          line-height: 22px;
          color: gray;
          // padding: 0 20px;
          background: #FFFFFF;
          border-radius: 400px;
          width: 100%;
        }
      }
    }
  }
}

@media only screen and (max-width: 1000px) {
  .header {
    width: 100%;
    margin: 0;
    padding: 0;
    
    .nav {
      width: 100%;
      margin: 0;
      padding: 0;
      
      .container {
        font-size: 16px;
        color: rgba(0, 0, 0, 1);
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        background: #6CE0E0;
        margin: 0;
        padding: 10px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        
        .img {
          height: 40px;
          width: 40px;
          border-radius: 50%;
          background-color: white;
        }
        
        .link {
          
          ul{
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            // border: solid;
            li {
              margin: 0 10px;
            }
            .btn-logout {
              padding: 10px;
              background: #FFFFFF;
              box-shadow: 0px 4px 30px rgba(255, 255, 255, 0.5);
              border-radius: 10px;
              font-weight: 600;
              font-size: 15px;
              color: #48CCCD;
            }
          }
          form {
            margin-right: 3rem;
            width: 100%;
          }
          form input {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 600;
            font-size: 15px;
            line-height: 22px;
            color: gray;
            // padding: 0 20px;
            background: #FFFFFF;
            border-radius: 400px;
            width: 100%;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 990px) { 

  .input {
    margin-bottom: 5px;
  }

  .messager-icon {
    display: none;
  }

  .username {
    display: none;
  }

}

@media only screen and (min-width: 991px) {
  .messager {
    display: none;
  }
  .account-text {
    display: none;
  }
  .logout-text {
    display: none;
  }
}

@media only screen and (max-width: 1600px) {
  .header {
    top: 0;
    padding: 0 0px;
    background: #6CE0E0;
    position: sticky;
    z-index: 100;
    width: 100%;
    margin: 0 0px;
    .nav {
      margin: 0 auto;
      padding: 0;
      background: #6CE0E0;
      width: 100%;
    }
  }  
}