.form {
    position: fixed;
    width: 70%;
    left: 15%;
    top: 20vh;
    background: white;
    border-radius: 0px;
    z-index: 200;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    padding: 3rem;
}

.fontTitle {
    font-weight: 650;
    font-size: 31px;
    line-height: 45px;
    align-items: center;
    text-align: center;
    margin: 25px 0px 35px;

    .title {
        width: 70%;
        align-items: center;
        text-align: center;
    }
}

.font {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    margin-left: 10%;
}

.font1 {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    margin-left: 10%;
}

.item {
    width: 90%;
    height: 30px;

    .a {
        width: 17%;
        height: 30px;
    }
}

.style {
    margin-left: 10%;
    width: 65%;
    height: 200px;
}

.styleButton {
    width: 80px;
    height: 35px;
    margin-left: 85%;
    background: #00CED1;
    border: none;
    box-shadow: 0px 4px 50px rgba(0, 251, 255, 0.5);
    border-radius: 20px;
    color: #FFFFFF;
}