.form {
    position: fixed;
    width: 70%;
    left: 15%;
    top: 15%;
    background: white;
    border-radius: 0px;
    z-index: 200;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    padding: 3rem;

    .b {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    input {
        border-radius: 10px;
        border: 1px solid #555;
        padding-left: 1.5%;

        &:hover {
            border: 1px solid #00b0b3;
        }
    }

    textarea {
        border-radius: 10px;
        border: 1px solid #555;

        &:hover {
            border: 1px solid #00b0b3;
        }
    }
}

.fontTitle {
    font-weight: 650;
    font-size: 31px;
    line-height: 45px;
    align-items: center;
    text-align: center;
    margin: 25px 0px 35px;

    .title {
        width: 70%;
        align-items: center;
        text-align: center;
    }
}

.font {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    margin-left: 10%;
}

.font1 {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    margin-left: 10%;
}

.item {
    width: 90%;
    margin: 5px;
    margin-left: 30px;

    .a {
        width: 20%;
    }
}

.style {
    margin-left: 12%;
    width: 72%;
    height: 180px;
}

.listButton {
    display: flex;
    justify-content: space-between;

    .styleButtonCancle {
        width: 80px;
        height: 35px;
        margin-left: 40px;
        margin-top: 15px;
        background: #00CED1;
        border: none;
        box-shadow: 0px 4px 50px rgba(0, 251, 255, 0.5);
        border-radius: 20px;
        color: #FFFFFF;
    }
    
    .styleButtonSave {
        @extend.styleButtonCancle;
        margin-right: 40px;
    }
}

@media only screen and (max-width: 1000px) {
    .form {
        padding: 2rem;
        input {
            border-radius: 7px;
        }
    
        textarea {
            border-radius: 7px;
        }
    }
    
    .fontTitle {
        font-weight: 700;
        font-size: 20px;
        line-height: 28px;
        margin: 20px 0px 25px;
    
        .title {
            width: 80%;
        }
    }
    
    .font {
        font-size: 14px;
        line-height: 24px;
        margin-left: 10%;
    }
    
    .font1 {
        font-size: 14px;
        line-height: 24px;
        margin-left: 10%;
    }
    
    .item {
        width: 90%;
        margin: 5px;
        margin-left: 20px;
    
        .a {
            width: 24%;
        }
    }
    
    .style {
        width: 78%;
        height: 130px;
    }
    
    .listButton {
        .styleButtonCancle {
            width: 60px;
            height: 30px;
            margin-left: 30px;
            margin-top: 15px;
            font-size: 13px;
        }
        
        .styleButtonSave {
            margin-left: 30px;
        }
    }
}