.form {
    position: fixed;
    width: 80%;
    left: 10%;
    top: 20vh;
    background: white;
    border-radius: 0px;
    z-index: 200;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    padding: 3rem;
}