.set-up-acc {
  font-family: 'Poppins';
  font-style: normal;
  input,
  button,
  textarea,
  select {
    background: #7beadf;
    border-radius: 20px;
    padding: 5px;
    border: 2px solid transparent;
    font-family: 'Poppins';
    font-style: normal;
  }
  select {
    width: 100%;
  }
  button,
  input {
    height: 40px;
    min-width: 81px;
    border-radius: 10px;
  }
}
.row-in-column {
  margin: 10px 0 10px 0;
}
.row-in-column-content {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
}
.button-save {
  display: flex;
  justify-content: flex-end;
}
.title {
  font-weight: 600;
  font-size: 30px;
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 50px;
}
.img-setting {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
