@import url('https://fonts.googleapis.com/css?family=Poppins');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Poppins';
  font-style: normal;
}

body {
  margin: 0 auto;
  font-family: 'Poppins';
  font-style: normal;
  background-color: white;
  width: 100%;
  max-width: 1600px;
}

h1 h2 h3 h4 {
  font-family: 'Poppins';
  font-style: normal;
}

a {
  text-decoration: none;
}
