@import url('https://fonts.googleapis.com/css?family=Poppins');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Poppins';
  font-style: normal;
}

body {
  margin: 0 auto;
  background-color: white;
  width: 1366px;
  max-width: 95%;
}

