.main {
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.job-list {
    position: relative;
    margin-left: 5rem;
    width: 60%;
    padding-bottom: 30px;
}

.title {
    padding: 40px;
    background-color: #9BE4E4;
    border-radius: 60px 60px 0px 0px;;
}

.title p {
    margin: 0;
    padding: 0;
    text-shadow: 0px 4px 25px rgba(0, 0, 0, 0.75);
    color: #FFFFFF;
    font-weight: 600;
    font-size: 30px;
    line-height: 45px;
}

.title span {
    margin: 0;
    padding: 0;
    font-size: 20px;
    line-height: 30px;
}

.list {
    padding: 20px;
}

.recomended-list {
    width: 21.5%;
    margin-right: 60px;
}

.break {
    height: 5rem;
}

.page-controller {
    display: flex;
    justify-content: center;
    position: absolute;
    right: 42%;
    bottom: 0;
}

.page-controller button {
    border: none;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    border-radius: 50%;
    background-color: transparent ;
    margin-bottom: 1rem;
}

@media only screen and (max-width: 1000px) { 
    .main {
        margin-top: 5rem;
        display: flex;
        justify-content: center;
        width: 100%;
    }
    
    .job-list {
        width: 80%;
    }
    
    .title {
        padding: 40px;
        background-color: #9BE4E4;
        border-radius: 60px 60px 0px 0px;;
    }
    
    .title p {
        margin: 0;
        padding: 0;
        text-shadow: 0px 4px 25px rgba(0, 0, 0, 0.75);
        color: #FFFFFF;
        font-weight: 600;
        font-size: 30px;
        line-height: 45px;
    }
    
    .title span {
        margin: 0;
        padding: 0;
        font-size: 20px;
        line-height: 30px;
    }
    
    .list {
        padding: 20px;
    }
    
    .recomended-list {
        display: none;
        width: 21.5%;
        margin-right: 60px;
    }
    
    .break {
        height: 5rem;
    }
    
    .page-controller {
        display: flex;
        justify-content: center;
        position: unset;
    }
    
    .page-controller button {
        border: none;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        border-radius: 50%;
        background-color: transparent ;
        margin-bottom: 1rem;
    }
}