.name {
  display: flex;
}
.name h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 38px;
  text-align: justify;
  margin-left: 20px;
  color: #000000;
}
.name p {
  margin: auto;
  margin-left: 100px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  text-align: justify;

  color: rgba(0, 0, 0, 0.8);
}
