.img {
  margin: 0;
  padding: 0;
}
.img-category {
  width: 100%;
  height: 467.46px;
}

.filter-bar {
  width: 100%;
}

.highligh-job {
  margin-top: 2rem;
  background: #e9fbfa;
  border-radius: 60px;
}

.highligh-job .title {
  color: #235b5c;
  font-weight: 600;
  font-size: 50px;
  line-height: 75px;
  text-align: center;
}

.highligh-job .list {
  padding: 30px 80px;
  display: flex;
  justify-content: space-around;
}
@media only screen and (max-width: 1000px) {
  .img {
    margin: 0;
    padding: 0;
    img {
      height: 300px;
    }
  }
  .img-category {
    width: 100%;
    height: 467.46px;
  }

  .filter-bar {
    width: 100%;
  }

  .highligh-job {
    margin-top: 2rem;
    background: #e9fbfa;
    border-radius: 60px;
  }

  .highligh-job .title {
    color: #235b5c;
    font-weight: 600;
    font-size: 35px;
    line-height: 75px;
    text-align: center;
  }

  .highligh-job .list {
    display: block;
    margin-bottom: 20px;
  }
}
